<% provide(:title, 'Plentus - Resend Confirmation') %>
<main class="bs-secondaryhead" role="main">
	<div class="container secondary">
	<div class="row">
	<div class="col-xs-12">
		<div class="logo logo-inset"></div>
		<div class="outer-box-transparent">
			<div class="inner-box">

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
<div class="note">Resend Confirmation</div>
<div class="note-sub"><%= f.full_error :confirmation_token %> Enter your email below and we'll resend a confirmation link. </div>
  <%= f.error_notification %>
  

  <div class="form-group">
    <%= f.input :email, :required => true, :label => false, placeholder: 'Email', :autofocus => true %>
  </div>


    <%= f.button :submit, "Resend confirmation link", :class => "btn btn-solid btn-lg" %>

</div>
<% end %>
</div>
</div>
</div>
</div>
</main>

