<% provide(:title, 'Plentus - Debt Manager') %>
<% content_for :feature do %>
<li><%= link_to "Debt Manager", index_debt_path %></li><li>New Debt</li>
<% end %>
<div class="content">
<%= simple_form_for @debt, :html => {:class => "feature-form debt center-block"} do |f| %>
				<form role="form">
					<div class="form-group">
					<%= f.input :name, label: 'Name Of Debt:', placeholder: 'Ex: Visa' %>
					</div>
				  <div class="form-group">
				<%= f.input :flexible_interest_annual, label: 'Annual Interest Rate:', placeholder: 'Ex: 19.99%' %>
				</div>
				<div class="form-group">
				<%= f.input :duration, label: 'Number of Months you would like to have debt paid off in:', placeholder: 'Ex: 10' %>
				</div>
				<div class="form-group">
				<%= f.input :flexible_present_balance, label: 'Present Balance (Amount Owing):', placeholder: 'Ex: $10,000' %>
				</div>
				<div class="form-group">
				<%= f.input :flexible_future_value, label: 'Future Value:', placeholder: 'Ex: $0' %>
				</div>
				<div class="form-group">
				<%= f.input :flexible_budget_monthly, label: 'Amount per month you will pay towards debt (budgeted amount):', placeholder: 'Ex: $600' %>
				</div>
				<%= f.submit "Create Debt", :class => "btn btn-success"%>
				<% end %>

</form>
</div>