<% provide(:title, 'Plentus - Account Login') %>
<main class="bs-secondaryhead" role="main">
	<div class="container secondary">
	<div class="row">
	<div class="col-xs-12">
		<div class="logo logo-inset"></div>
		<div class="outer-box-transparent">
			
				<div class="note">Log in to Plentus</div>

<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  	<form role="form">
	<div class="form-group">
	<%= f.input :email, :label => false, placeholder: 'Email' %>
	</div>
	<div class="form-group">
	<%= f.input :password, :label => false, placeholder: 'Password' %>
	</div>
	<div class="forgot-password-container">
	<%= link_to "Forgot?", passwordreset_new_path, class: "forgot" %>
	</div>
	<%= f.submit "Login!", :class => "btn btn-solid btn-lg"%>
	</form>
<% end %>
</div>

</div>
</div>
</div>
</main>