<% provide(:title, 'Plentus - Tax Calculator') %>
<% content_for :feature do %>
<li>Tax Calculator</li>
<% end %>
<% @taxes.each do |tax| %>
	<div class="panel-right-outer">
		<div class="panel-right-inner">
			<div class="panel-content">
				<div class="panel-button"><div class="outer-shadow"><button class="btn btn-solid btn-lg features"><%= current_user.state.name %><i class="fa fa-cog"></i></button></div></div>
				<div class="inset"><div class="outer-border"><div class="inner-inset">Income:<span class="value"> $<%= number_with_delimiter(tax.income) %></span></div></div></div>
				<div class="inset"><div class="outer-border"><div class="inner-inset">Taxes: <span class="value">$<%= number_with_delimiter(tax.taxes) %></span></div></div></div>
				<div class="inset"><div class="outer-border"><div class="inner-inset">RRSP: <span class="value">$<%= number_with_delimiter(tax.rrsp) %></span></div></div></div>
				<%= link_to "Update Taxes", edit_tax_path(tax), class: "btn btn-solid btn-lg taxes" %>
				<div class="tips">
					Tax Saving Tip: Increasing your Registered Retirement Savings Plan (RRSP) contribution will decrease taxable income and reduce total tax payable.
				</div>
			</div>
	</div>
</div>
		<div class="content">

			
<div class="report">
	<div class="heading">Tax Report:</div>			
<div class="report-outer">
<div class="report-center">
			<div class="approximate">
			Approximate Taxable Income: <span class="value">$<%= number_with_delimiter(tax.taxable_income.floor) %></span>
			</div>
			<div class="approximate upper">
			Approximate Federal Tax Payable: <span class="value">$<%= number_with_delimiter(tax.federal.floor) %></span>
			</div>
			<div class="approximate lower">
			Approximate Provincial Tax Payable: <span class="value">$<%= number_with_delimiter(tax.provincial.floor) %></span>
			</div>
			<div class="approximate total">
			<span class="total">Total Tax Payable:</span> <span class="value">$<%= number_with_delimiter(tax.provincial.floor + tax.federal.floor) %></span>	
			</div>
</div>	
</div>
</div>
			
		</div>
	
	<% end %>


