<% provide(:title, 'Plentus - Tax Calculator') %>
<% provide(:feature, 'Tax Calculator') %>
<div class="content">
<%= simple_form_for @tax do |f| %>
				<form role="form">
				  <div class="form-group">
				<%= f.input :flexible_income, label: 'Income' %>
				</div>
				<div class="form-group">
				<%= f.input :taxes, label: 'Taxes' %>
				</div>
				<div class="form-group">
				<%= f.input :rrsp, label: 'RRSP' %>
				</div>
				<%= f.submit "Submit", :class => "btn btn-submit"%>
				<% end %>

</form>
</div>