<% provide(:title, 'Plentus - Tax Calculator') %>
<% content_for :feature do %>
<li><%= link_to "Tax Calculator", show_tax_path(current_user.tax) %></li><li>New Tax Estimate</li>
<% end %>
<div class="content">
<%= simple_form_for @tax do |f| %>
				<form role="form">
				  <div class="form-group">
				<%= f.input :flexible_income, label: 'Income' %>
				</div>
				<div class="form-group">
				<%= f.input :flexible_taxes, label: 'Taxes' %>
				</div>
				<div class="form-group">
				<%= f.input :flexible_rrsp, label: 'RRSP' %>
				</div>
				<%= f.submit "Submit", :class => "btn btn-submit"%>
				<% end %>

</form>
</div>