<%= simple_form_for @expense, remote: true do |f| %>
				<form role="form">
					<div class="form-group">
					<%= f.input :name, label: 'Name of expense' %>
					</div>
				  <div class="form-group">
				<%= f.input :amount, label: 'expense amount' %>
				</div>
				<%= f.radio_button(:expense_type, "utilities") %>
				<%= label_tag(:expense_type_utlities, "Utilities") %>
				<%= f.radio_button(:expense_type, "rent") %>
				<%= label_tag(:expense_type_rent, "Rent") %>
				<%= f.radio_button(:expense_type, "groceries") %>
				<%= label_tag(:expense_type_groceries, "Groceries") %>
				<%= f.radio_button(:expense_type, "vehicle") %>
				<%= label_tag(:expense_type_vehicles, "Vehicle") %>
				<%= f.radio_button(:expense_type, "entertainment") %>
				<%= label_tag(:expense_type_vehicles, "Entertainment") %>
				<%= f.submit "Submit", :class => "btn btn-submit"%>
				<% end %>