<% provide(:title, 'Plentus - Budget Goals') %>
<% provide(:class, 'expenses') %>
<% content_for :feature do %>
<li>Expenses</li>
<% end %>
<div class="btn-group callback">
<li class="dropdown"><%= link_to "New Expense <span class=\"caret\"></span>".html_safe, new_expense_path, id: "new_link", remote: true, class: "dropdown-toggle btn btn-success", data: { toggle: "dropdown" } %>
  <ul class="dropdown-menu dropdown-menu-right expenses" role="menu">

  </ul>
</li>
</div>
<div class="content expenses">

<div class="row dual report">
<div class="col-xs-6">
<div class="heading">Recurring Monthly Expenses:</div>			
<div class="report-outer">
<div class="report-center dual left" id="recurring_expenses">
	<% @expenses.each do |expense| %>
	<div class="approximate <%= expense.id %>"><%= expense.name %> <span class="value">$<%= number_with_delimiter(expense.amount) %></span><%= link_to "(remove)", expense, method: :delete, remote: true %></div>
			
<% end %>
</div>
</div>	
</div>
			<div class="col-xs-6">
			<div class="heading">Totals:</div>			
			<div class="report-outer">
			<div class="report-center dual">	
			<div class="approximate upper">
			Monthly Income: <span class="value"><% unless current_user.income.blank? %>$<%= number_with_delimiter(current_user.income / 12) %><% else %>$0<% end %><%= link_to user_personal_path, id: "cog" do %><i class="fa fa-cog"></i><% end %></span>
			</div>
			<div class="approximate lower green">
			Monthly Expenses Total:<span class="value" id="total">$<%= number_with_delimiter(@expenses.total_value) %></span>	
			</div>
			<div class="approximate green">
			Total Surplus or Deficit:<span class="value" id="surplus"><% unless current_user.income.blank? %>$<%= number_with_delimiter((current_user.income / 12) - @expenses.total_value) %><% else %>$0<% end %></span>	
			</div>
			</div>
			</div>
			</div>

</div>
</div>