<div class="features-menu">
<div class="btn-group btn-group-justified features">
<%= link_to_unless_current("<span class=\"glyphicon glyphicon-dashboard\"></span>OVERVIEW".html_safe, page_path('overview'), class: "btn btn-default") { link_to("<span class=\"glyphicon glyphicon-dashboard\"></span>OVERVIEW".html_safe, page_path('overview'), class: "btn btn-default active") } %>
	<%= link_to_unless_current("<span class=\"glyphicon glyphicon-user\"></span>CONVERSATIONS".html_safe, page_path('conversations'), class: "btn btn-default") { link_to("<span class=\"glyphicon glyphicon-user\"></span>CONVERSATIONS".html_safe, page_path('conversations'), class: "btn btn-default active") } %>
	<%= link_to_unless_current("<span class=\"glyphicon glyphicon-stats\"></span>TRACKING".html_safe, page_path('tracking'), class: "btn btn-default") { link_to("<span class=\"glyphicon glyphicon-stats\"></span>TRACKING".html_safe, page_path('tracking'), class: "btn btn-default active") } %>
	<%= link_to_unless_current("<span class=\"glyphicon glyphicon-usd\"></span>BUDGETING".html_safe, page_path('budgeting'), class: "btn btn-default") { link_to("<span class=\"glyphicon glyphicon-usd\"></span>BUDGETING".html_safe, page_path('budgeting'), class: "btn btn-default active") } %>
<%= link_to_unless_current("<span class=\"glyphicon glyphicon-flash\"></span>SUPPORT".html_safe, page_path('support'), class: "btn btn-default") { link_to("<span class=\"glyphicon glyphicon-flash\"></span>SUPPORT".html_safe, page_path('support'), class: "btn btn-default active") } %>
</div>
</div>