<div class="top-navigation">
<div class="row">
	<div class="col-xs-6"><div class="logo"><%= link_to image_tag('plentuslogo.png', :size => '144x39'), root_path %></div></div>
	<div class="col-xs-6">
		<div class="nav-items">
		<ul class="nav nav-pills nav-custom">
		  <li><%= link_to "Tour", page_path('tour') %></li>
		  <li><%= link_to "Pricing", page_path('plans') %></li>
		  <li><a href="http://blog.goplentus.com">Blog</a></li>
		  <li><%= link_to "Sign Up", page_path('plans') %></li>
		<li class="dropdown"><%= link_to "Login <span class=\"caret\"></span>".html_safe, new_user_session_path, class: "dropdown-toggle", data: { toggle: "dropdown" } %>
		  <ul class="dropdown-menu">
		  <%= render 'devise/sessions/form' %>
		  </ul>
		  </li>
		</ul>
		</div>
	</div>
</div>
</div>