<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<%= favicon_link_tag %>
<title><%= content_for?(:title) ?  yield(:title) : "Plentus" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Plentus is a web app for managing your pursuit of wealth, health, and all things in abundance." %>">
<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
	<main role="main">
	<div class="container">
	<div class="content">
	<div class="row">
	<div class="span12">
	<%= render 'layouts/messages' %>
	<%= yield %>
	</div>
	</div>
	<footer id="footer">
	</footer>
	</div>
	</div>
	</main>
	</body>
	</html>